
<h1 class="title-book">Books</h1>
  <ul class="index-list">
    <li class="list1">Title</li>

    <li class="list2">body</li>

  </ul>

<div class="main-text">
<% @books.each do |book| %>

<p class="text-title"><%=book.title %></p>

<p class="text-body"><%= book.body %></p>

<span>
  <%=link_to 'Show',"/books/#{book.id}" %>
  <%=link_to 'Edit',edit_book_path(@books),method: :patch %>
  <%=link_to 'Destroy',book_path(book.id),method: :delete,"data_confirm" =>"Are you sure?" %>
</span>

</div>

<%end%>
