<h1>Books</h1>
<% @books.each do |book| %>
<h5>Title</h5>

<p><%=book.title %></p>

<h5>Body</h5>

<p><%= book.body %></p>

<span>
  <%=link_to 'Show',"/books/#{book.id}" %>
  <%=link_to 'Edit',edit_book_path(@books),method: :patch %>
  <%=link_to 'Destroy',book_path(book.id),method: :delete,"data_confirm" =>"Are you sure?" %>
</span>

<%end%>
